services:
  bench_test:
    build: 
      context: .
      dockerfile: Dockerfile.test
    ports: 
      - "1000:1100"
    networks: 
      - logger_net
    restart: no
    depends_on:
      - fluent-bit 
    extra_hosts:
      - "host.docker.internal:host-gateway"  


  fluent-bit:
    image: fluent/fluent-bit
    command: ["fluent-bit", "-c", "/fluent-bit/etc/fluent-bit.yaml"]
    volumes: 
      - ./fluent-bit.yaml:/fluent-bit/etc/fluent-bit.yaml
      - ./parsers.yaml:/fluent-bit/etc/parsers.yaml
      - ./logger/vllm.log:/var/log/vllm.log
    networks: 
      logger_net:
        ipv4_address: "192.168.92.21"

  visualize-test:
    build:
      context: .
      dockerfile: Dockerfile.visualize
    ports:
      - "2000"
    networks: 
      - logger_net
    restart: no
    depends_on:
      - bench_test:
          condition: service_completed_successfully
    volumes: 
      - ./logger/vllm.log:/logger/vllm.log
      - ./plots:/plots


networks: 
  logger_net:
    ipam:
      driver: default
      config: 
        - subnet: "192.168.92.0/24"