services:
  bench_test:
    build: .
    ports: 
      - "1000"
    networks: 
      logger_net:
        ipv4_address: "192.168.92.20"
    restart: unless-stopped
    depends_on:
      - fluent-bit 
  fluent-bit:
    image: fluent/fluent-bit
    volumes: 
      - ./fluent-bit.yaml:/fluent-bit/etc/fluent-bit.yaml
      - ./parsers.yaml:/fluent-bit/etc/parsers.yaml
      - ./logger/vllm.log:/var/log/vllm.log
    networks: 
      logger_net:
        ipv4_address: "192.168.92.21"
networks: 
  logger_net:
    ipam:
      driver: default
      config: 
        - subnet: "192.168.92.0/24"